{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Venue Education</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <a href="#hero-container" class="brand-logo"
        ><img class="logo" src="{% static 'images/logo.png' %}" alt=""
      /></a>
      <div class="mobile-nav">
        <span class="toggle"><i class="fa fa-bars menu ml-auto"></i></span>
        <ul class="navbar-list">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#about-container ">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#our-process">Our Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#our-college">Study Abroad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonial-section">Testimonial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="section" id="hero-container">
      <!--hero container  -->
      <div class="career-counsel">
        <div class="hero-text-container text-white">
          <h1>
            <b>Best Career Counsellor & Admission Consultant</b>
          </h1>
          <p>Right Decision Today, Bright Future Tomorrow</p>
          <a href="#contact-us" class="btn btn-contact m-2">Contact Us</a>
          <a href="#about-container" class="btn btn-know m-2">Know More</a>
        </div>
        <div class="slides">
          <img class="slide-item" src="{% static 'images/study.jpg' %}" />
          <img class="slide-item hide" src="{% static 'images/study1.jpg' %}" />
          <img class="slide-item hide" src="{% static 'images/study2.jpg' %}" />
           <img class="slide-item hide" src="{% static 'images/randomimg.jpg' %}" />

        </div>
      </div>
    </div>
    <div class="main-wrapper">
      <!-- second about container -->
      <div class="title-container section" id="about-container">
        <h1 class="text-center">What Do We Do ?</h1>
        <h5 class="text-center">
          Help you to find your Passion and Courses that suits you !!
        </h5>
      </div>
      <div class="about-us">
        <div class="about-us-item">
          <h4>About Us</h4>
          <p>
            Venue Education Consultancy is one of the leading education
            Consultancy in Nepal. With the best Counsellor available Study
            career counseling, guidance and recruitment. Assistance in Full
            Documentation for VISA lodgement. Test preparation and Language
            classes. Education seminar and customized workshop and presentation.
          </p>
        </div>
        <div class="about-us-item">
          <h4>Our Services</h4>
          <p>
            We provide comprehensive services to students seeking international
            education opportunities. Our services include
          </p>
          <ul>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="m5 16.577 2.194-2.195 5.486 5.484L24.804 7.743 27 9.937l-14.32 14.32z"
                />
              </svg>
              <span> Ilets </span>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="m5 16.577 2.194-2.195 5.486 5.484L24.804 7.743 27 9.937l-14.32 14.32z"
                />
              </svg>
              <span> PTE </span>
            </li>
          
          </ul>
        </div>

        <div class="about-us-item">
          <h4>Our Courses</h4>
          <p>
            We also help students in selecting the right course and institution
            based on their academic background, interests, and career goals. We
            provide information on various courses available in different
            countries, including undergraduate and postgraduate programs.
          </p>
          <ul>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="m5 16.577 2.194-2.195 5.486 5.484L24.804 7.743 27 9.937l-14.32 14.32z"
                />
              </svg>
              <span> Information Technology </span>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="m5 16.577 2.194-2.195 5.486 5.484L24.804 7.743 27 9.937l-14.32 14.32z"
                />
              </svg>
              <span> Bachelors of Nursing </span>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="m5 16.577 2.194-2.195 5.486 5.484L24.804 7.743 27 9.937l-14.32 14.32z"
                />
              </svg>
              <span> Engineering </span>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="m5 16.577 2.194-2.195 5.486 5.484L24.804 7.743 27 9.937l-14.32 14.32z"
                />
              </svg>
              <span>Medical field</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- third our process -->
      <div class="title-container section" id="our-process">
        <h1 class="text-center">Our Process</h1>
      </div>
      <div class="processes">
        <div class="processes-item">
          <img
            src="{% static 'images/services-5.png' %}"
            class="mb-4"
            class="mb-4"
            alt=""
          />
          <div class="detail">
            <h4>COUNSELLING</h4>
            <p>
              A discussion with our expert professionals provide the options to
              the students that help them to select institution & course.
            </p>
          </div>
        </div>
        <div class="processes-item">
          <img src="{% static 'images/services-2.png' %}" class="mb-4" alt="" />
          <div class="detail">
            <h4>PROCESS</h4>
            <p>
              We help students with admission formalities, Fees details,
              commitment, payment term and documents required.
            </p>
          </div>
        </div>
        <div class="processes-item">
          <img src="{% static 'images/services-3.png' %}" class="mb-4" alt="" />
          <div class="detail">
            <h4>ADMISSION</h4>
            <p>
              We assure hassless admission. We encourage you to visit college at
              the time of admission and look all the facilities with own.
            </p>
          </div>
        </div>
        <div class="processes-item">
          <img src="{% static 'images/services-4.png' %}" class="mb-4" alt="" />
          <div class="detail">
            <h4>SUPPORT</h4>
            <p>
              Our support is not only till the admission but to your last year
              and help wherever needed and help you whenever you need help.
            </p>
          </div>
        </div>
      </div>

      <!-- our college -->
      <div class="title-container section" id="our-college">
        <h1 class="text-center">Best Study Destination</h1>
      </div>
      <div class="colleges">
        <div class="card">
          <img
            src="{% static 'images/uk.jpg' %}"
            class="card-img-top"
            height="170"
            alt=""
          />
          <div class="card-body">
            <h3 class="card-title">
              <b><a href="{% url 'ukcollege' %}" style="all: unset; cursor: pointer;">
          UNITED KINGDOM
        </a></b>
            </h3>
            <p class="card-text">
              Studying in the UK can be a great opportunity to gain a
              world-class education and experience a new culture.
            </p>
            <!-- <a href="{% url 'ukcollege' %}"><b> View Colleges</b></a> -->
          </div>
        </div>
        <div class="card">
          <img
            src="{% static 'images/aus.jpg' %}"
            class="card-img-top"
            height="170"
            alt=""
          />
          <div class="card-body">
            <h3 class="card-title"><b><a href="{% url 'auscollege' %}" style="all: unset; cursor: pointer;">
          AUSTRALIA
        </a></b></h3>
            <p class="card-text">
              Studying in Australia can be a great opportunity to gain a
              high-quality education and experience a new culture
            </p>
            <!-- <a href="{% url 'auscollege' %}"><b> View Colleges</b></a> -->
          </div>
        </div>
        <div class="card">
          <img
            src="{% static 'images/can.jpg' %}"
            class="card-img-top"
            height="170"
            alt=""
          />
          <div class="card-body">
            <h3 class="card-title"><b><a href="{% url 'cancollege' %}" style="all: unset; cursor: pointer;">
          CANADA
        </a></b></h3>
            <p class="card-text">
              Studying in Canada can be a great opportunity to gain a
              high-quality education and experience a new culture
            </p>
            <!-- <a href="{% url 'cancollege' %}"><b>View Colleges</b></a> -->
          </div>
        </div>
        <div class="card">
          <img
            src="{% static 'images/usa.jpg' %}"
            class="card-img-top"
            height="170"
            alt=""
          />
          <div class="card-body">
            <h3 class="card-title"><b><a href="{% url 'uscollege' %}" style="all: unset; cursor: pointer;">
          USA
        </a></b></h3>
            <p class="card-text">
              Studying in the USA can be a great opportunity to gain a
              world-class education and experience a new culture.
            </p>
            <!-- <a href="{% url 'uscollege' %}"><b>View Colleges</b></a> -->
          </div>
        </div>
      </div>
    </div>

    <!-- testimonial section -->
    <div class="title-container small-height section" id="testimonial-section">
      <h1 class="text-center">Testimonial</h1>
    </div>
    <div class="custom-scroller">
      <div class="testimonials right-shadow">
        {% for testimonial in testimonials %}
        <div class="profile">
          <img src="{% static testimonial.image %}" alt="" />
          <blockquote>{{ testimonial.comment|safe }}</blockquote>
          <h5>
            {{ testimonial.name }}<br /><span
              >{{ testimonial.college }}, {{ testimonial.address }}</span
            >
          </h5>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="main-wrapper">
      <!-- contact us -->
      <div class="title-container section" id="contact-us">
        <h1>Contact Us</h1>
      </div>
      <div class="contact-us">
        <div class="form-container">
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSeGemBWOAlhnCpU6ZYhf28kn2g34A2-ZLQYpGabUxU2VUSFJg/viewform?embedded=true"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            >Loading…</iframe
          >
        </div>
        <div class="information-disclaimer">
          <h3>Why We Ask for Your Information?</h3>
          <p>
            We kindly ask for your name, contact number, and a brief reason for
            reaching out so that we can understand your needs and respond
            effectively. This information helps us provide the right support and
            connect with you directly—without any cost or obligation on your
            part. Rest assured, your details are kept strictly confidential and
            are never shared, sold, or misused. Our goal is simply to offer
            helpful guidance if you're interested, and we respect your privacy
            every step of the way.
          </p>
        </div>
      </div>
    </div>
    <!-- footer section -->
    <footer>
      <div class="footer-container">
        <div class="footer-about">
          <div>
            <p>
              Venue Education is the leading education consultancy in Nepal. Founded in 2023, the Venue Education Consultancy is committed to helping Nepalese students fulfill their dreams of attending Global universities. We are a licensed educational consultancy in Nepal with a staff of seasoned experts who are knowledgeable about admissions and academic policies in different countries. Our goal is to make sure that students have a smooth transition to studying in global universities by helping them choose the best program and university for their needs in terms of professional goals, academic standing, English language skills, and financial resources.
            </p>
          </div>
        </div>
        <iframe
          class="location"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2440.8720105225743!2d85.33368781828084!3d27.687987807785664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1980476cc9ef%3A0xb97fc297bb4d5c64!2sVenue%20Education!5e0!3m2!1sen!2snp!4v1748611080500!5m2!1sen!2snp"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <div class="footer-contact">
          <a href="mailto:venueedu1@gmail.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>venueedu1@gmail.com</span>
          </a>
          <a href="tel:+977015913493">
            
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>+977 01-5913493 / 9862657171/ 9866545548</span>
            </a>
          </a>
          <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>3rd floor, Sankhamul Tower, Sankhamul</span>
          </p>
        </div>
        <div class="social-icons">
          <a href="https://www.facebook.com/venueeducation"
            ><i class="fa fa-facebook fa-lg" aria-hidden="true"></i
          ></a>
          <a href="https://www.instagram.com/venueedu/"
            ><i class="fa fa-instagram fa-lg" aria-hidden="true"></i
          ></a>
          <a href="https://www.linkedin.com/in/venue-education-consultancy-2009a5276"
            ><i class="fa fa-linkedin-square" aria-hidden="true"></i
          ></a>
          <a href="https://www.tiktok.com/@venueeducation?_t=ZS-8yarZBYHUH2&_r=1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-tiktok"
            >
              <path
                d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z"
              /></svg
          ></a>
        </div>
      </div>
      <span class="copyright"
        >COPYRIGHT&copy; Venue Education 2023, All right reserved | Designed by
        NABIN BHATTARAI</span
      >
    </footer>
  </body>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/slick.js' %}"></script>
  <script src="https://use.fontawesome.com/c1a8023b0e.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="{% static 'js/main.js' %}"></script>
</html>
