:root {
  --primary: #2e307c;
  --onPrimary: #ffffff;
  --primaryContainer: #1d1f5a;
  --onPrimaryContainer: #c7c8ec;
  --secondary: #d92028;
  --secondaryContainer: #f6cdd0;
  --onBackgroundContainer: #851417;
  --background: #f5f5f7;
  --onBackground: #1b1b1f;
  --surface: #ffffff;
  --onSurface: #2d2d2d;
  --outline: #a5a5b0;
  --support-green: #33dbc6;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
html {
  overflow: scroll;
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--onBackground);
}
body {
  width: 100%;
  height: 100%;
  min-width: 425px;
  background-color: var(--background);
  color: var(--onBackground);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li {
  color: inherit; /* Force them to inherit from body/html */
}

.slide-item {
  display: block;

  &.hide {
    display: none;
  }
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.alert {
  margin-bottom: 0;
  /* padding: 0.75rem 2.25rem !important; */
}

.toggle {
  width: 100%;
  background-color: transparent;
  padding-right: 8px;
  font-size: 24px;
  color: var(--onBackground);
  text-align: right;
  display: none;
  cursor: pointer;
}
.menu {
  cursor: pointer;
  transition: 5s all ease;
}

@keyframes shrinkOnScroll {
  from {
    width: 100px;
    margin: 20px 0 0 32px;
  }
  to {
    width: 45px;
    margin: 0;
  }
}

@keyframes changeBGOnScroll {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--onSurface);
    color: var(--surface);
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: var(--background);
  width: 100%;
  align-items: start;

  transform-origin: top;
  animation: changeBGOnScroll linear forwards;
  animation-timeline: scroll();
  animation-range: 0 30vh;

  .navbar-list {
    position: absolute;
    right: 20px;
  }

  .logo {
    width: 100px;

    transform-origin: top;
    animation: shrinkOnScroll linear forwards;
    animation-timeline: scroll();
    animation-range: 0 20vh;
  }

  .mobile-nav {
    padding: 10px 0 10px 80px;

    ul {
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;

      &:hover {
        cursor: pointer;
      }

      .nav-link {
        padding: 6px;
        color: inherit;
      }

      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.career-counsel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-text-container {
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 14px;
    padding-top: 12px;
  }

  a {
    color: var(--background);
    border-color: var(--background);

    &.btn-contact {
      background-color: var(--primaryContainer);
      color: var(--background);
      border: none;
      &:hover {
        color: unset;
      }
    }
  }
}

.slides {
  flex-shrink: unset;

  > img {
    border: 5px solid var(--outline);
    border-radius: 35px;
    width: 500px;
    height: 350px;
  }
}

#hero-container {
  background: url("/static/images/main1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  padding: 32px;
  width: 100%;
  display: flex;
  min-height: 450px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 150px;
}

.title-container {
  padding: 32px;

  h1::after {
    content: "";
    background: var(--support-green);
    display: block;
    height: 5px;
    width: 170px;
    margin: 20px auto 10px;
  }

  h5 {
    margin: 20px 0;
  }
}

.about-us {
  padding: 32px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}

.about-us-item {
  background-color: var(--primaryContainer);
  color: var(--onPrimaryContainer);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 16px var(--outline);
  transition: 0.3s all ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  h4 {
    padding: 10px;

    &::after {
      content: "";
      background: var(--support-green);
      display: block;
      height: 5px;
      width: 200px;
      margin: 10px auto 0;
    }
  }

  ul {
    list-style-type: none;

    li {
      padding: 12px;

      svg {
        padding-top: 5px;
        fill: var(--support-green);
      }

      span {
        margin-left: 12px;
      }
    }
  }
}

.processes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  gap: 50px;

  .processes-item {
    background-color: var(--primaryContainer);
    color: var(--onPrimaryContainer);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 16px var(--outline);
    transition: 0.3s all ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }

    h4 {
      width: min-content;
      &::after {
        content: "";
        background: var(--support-green);
        display: block;
        height: 5px;
      }
    }
  }
}

.colleges {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  gap: 50px;

  .card {
    border-radius: 10px;
    transition: 0.3s all ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 200px;
      object-fit: cover;
      background-color: var(--onPrimaryContainer);
    }
  }

  .card-body {
    color: var(--onPrimaryContainer);
    border-radius: 0 0 10px 10px;
  }
}

.testimonials {
  display: flex;
  padding: 32px;
  width: 100%;
  overflow: scroll;
  gap: 50px;

  .profile {
    box-shadow: 0px 0px 16px var(--outline);
    padding: 32px;
    min-width: 300px;
    transition: 0.3s all ease-in-out;
    border-radius: 20px;

    blockquote {
      padding-top: 24px;

      &::before {
        content: "\201C";
        font-size: 50px;
        color: var(--support-green);
        line-height: 20px;
        position: relative;
        right: 1px;
        bottom: -15px;
      }

      &::after {
        content: "\201D";
        font-size: 50px;
        color: var(--support-green);
        line-height: 20px;
        position: relative;
        left: 1px;
        bottom: -15px;
      }
    }

    img {
      object-fit: contain;
      background-color: var(--outline);
      border-radius: 50%;
      width: 110px;
      height: 110px;
      border: 10px solid var(--primary);
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
    h5 {
      color: var(--primary);
    }
    span {
      font-size: 14px;
    }
  }
}

.custom-scroller {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
  position: sticky;

  .left-shadow {
    box-shadow: inset 16px 0 12px -16px var(--outline);
  }

  .right-shadow {
    box-shadow: inset -16px 0 12px -16px var(--outline);
  }

  .left-shadow.right-shadow {
    box-shadow: inset 16px 0 12px -16px var(--outline),
      inset -16px 0 12px -16px var(--outline);
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
    transition: background-color 0.3s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.6);
  }
}

.apply {
  color: var(--support-green) !important;
}
.card-body {
  background-color: #241c60;
  color: var(--onBackground);
}
.card-body h5 {
  color: hotpink;
}
.card-body a {
  color: var(--support-green);
}
.card-body a:hover {
  text-decoration: none;
}
/* testimonial section */
.testimonial-section {
  padding: 5px 80px 65px 80px;
}
.testimonial-section h1::after {
  content: "";
  background: var(--support-green);
  display: block;
  height: 4px;
  width: 170px;
  margin: 20px auto 10px;
}

/* contact us */
.contact-us h1::after {
  content: "";
  background: var(--support-green);
  display: block;
  height: 4px;
  width: 170px;
  margin: 20px auto 10px;
}
.contact-us {
  padding: 5px 80px 65px 80px;
}
.form-control {
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 8px 12px;
}
.btn-submit {
  background-color: var(--support-green);
  border: none;
  font-weight: 400;
  color: var(--onBackground);
  border-radius: 8px;
  padding: 6px 12px;
  display: inline-block;
  width: 200px;
  margin: 15px auto;
  /* text-align: center; */
  border: 1px solid var(--support-green);
}
input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

/* footer  */
.footer-nav li {
  list-style-type: none;
}
.footer-nav li a {
  text-decoration: none;
  color: var(--onBackground);
}
.footer-links a {
  text-decoration: none;
  color: var(--onBackground);
}

@keyframes slideIn {
  from {
    right: -160px;
  }
  to {
    right: 0;
  }
}

@media only screen and (max-width: 850px) {
  .mobile-nav {
    width: min-content;

    .nav-item {
      white-space: nowrap;
    }
  }

  .navbar {
    .navbar-list {
      text-align: right;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      margin-top: 17px;
      height: 100vh;
      right: -160px;
      transition: right 0.3s ease-in;
      transform-origin: top;
      animation: changeBGOnScroll linear forwards;
      animation-timeline: scroll();
      animation-range: 0 30vh;
      background-color: inherit;

      &.active {
        right: 0;
      }
    }
  }

  .logo {
    width: 100px;
  }
  .toggle {
    display: block;
    width: auto;
  }
  .slides {
    display: none;
  }
  .about-inner {
    padding: 15px;
  }
  .what-heading {
    font-size: 22px;
  }
  .what-subheading {
    font-size: 18px;
  }
  .border-custom {
    width: 200px;
    line-height: 45px;
  }
  .about-heading {
    font-size: 20px;
  }
  .about-first ul li {
    font-size: 16px;
  }
  .about-second ul li {
    font-size: 16px;
  }
}

@media only screen and (max-width: 425px) {
  .slides {
    display: none;
  }

  .hero-text-container {
    padding: 25px;
  }
  .hero-text-container h1 {
    padding-top: 40px;
    font-size: 27px;
  }
  .hero-text-container p {
    font-size: 14px;
  }
  .btn-contact {
    padding: 8px 12px;
    font-size: 14px;
  }

  .rectangle-image {
    display: none !important;
  }
  /* about container */
  .process-heading {
    font-size: 27px;
  }
  .border-services {
    max-width: 200px;
    line-height: 65px;
  }
  /* college */
  .our-college {
    padding: 0 29px 35px 30px;
  }
  .our-college h1::after {
    height: 3px;
    width: 90px;
    margin: 10px auto 10px;
  }
  .our-college h1 {
    font-size: 27px;
  }
  .card-text {
    font-size: 14px;
  }
  /* testimonial */
  .testimonial-section {
    padding: 0 12px 20px 12px;
  }
  .testimonial-section h1 {
    font-size: 27px;
  }
  .testimonial-section blockquote {
    font-size: 14px;
  }
  .testimonial-section h1::after {
    height: 3px;
    width: 90px;
    margin: 10px auto 10px;
  }
  /* contact */
  .contact-us {
    padding: 0 12px 20px 12px;
  }
  .contact-us h1 {
    font-size: 27px;
  }
  .contact-us h1::after {
    height: 3px;
    width: 90px;
    margin: 10px auto 10px;
  }
  .btn-submit {
    width: 100%;
    margin: 15px;
  }
  .footer-nav {
    display: none;
  }
  .footer-about {
    display: none;
  }
}
