:root {
  --primary: #2e307c;
  --onPrimary: #ffffff;
  --primaryContainer: #1d1f5a;
  --onPrimaryContainer: #c7c8ec;
  --secondary: #d92028;
  --secondaryContainer: #f6cdd0;
  --onBackgroundContainer: #851417;
  --background: #f5f5f7;
  --onBackground: #1b1b1f;
  --surface: #ffffff;
  --onSurface: #2d2d2d;
  --outline: #a5a5b0;
  --support-green: #33dbc6;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
html {
  overflow: scroll;
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--onBackground);
}
body {
  width: 100%;
  height: 100%;
  min-width: 425px;
  background-color: var(--background);
  color: var(--onBackground);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li {
  color: inherit; /* Force them to inherit from body/html */
}

a {
  display: block;
  width: min-content;
  white-space: nowrap;
  color: var(--surface);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--support-green);
    text-decoration: none;
  }
}

.slide-item {
  display: block;

  &.hide {
    display: none;
  }
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.alert {
  margin-bottom: 0;
  /* padding: 0.75rem 2.25rem !important; */
}

.toggle {
  width: 100%;
  background-color: transparent;
  padding-right: 8px;
  font-size: 24px;
  color: var(--onBackground);
  text-align: right;
  display: none;
  cursor: pointer;
}
.menu {
  cursor: pointer;
  transition: 5s all ease;
}

@keyframes shrinkOnScroll {
  from {
    width: 100px;
    margin: 20px 0 0 32px;
  }
  to {
    width: 45px;
    margin: 0;
  }
}

@keyframes changeBGOnScroll {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--onSurface);
    color: var(--surface);
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: var(--background);
  width: 100%;
  align-items: start;

  transform-origin: top;
  animation: changeBGOnScroll linear forwards;
  animation-timeline: scroll();
  animation-range: 0 30vh;

  .navbar-list {
    position: absolute;
    right: 20px;
  }

  .logo {
    width: 100px;

    transform-origin: top;
    animation: shrinkOnScroll linear forwards;
    animation-timeline: scroll();
    animation-range: 0 20vh;
  }

  .mobile-nav {
    padding: 10px 0 10px 80px;

    ul {
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;

      &:hover {
        cursor: pointer;
      }

      .nav-link {
        padding: 6px;
      }
    }
  }
}
.career-counsel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-text-container {
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 14px;
    padding-top: 12px;
  }

  a {
    border-color: var(--background);

    &.btn-contact {
      background-color: var(--primaryContainer);
      border: none;
    }
  }
}

.slides {
  flex-shrink: unset;

  > img {
    border: 5px solid var(--outline);
    border-radius: 35px;
    width: 500px;
    height: 350px;
  }
}

#hero-container {
  background: url("/static/images/main1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  padding: 32px;
  width: 100%;
  display: flex;
  min-height: 450px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 150px;
}

.title-container {
  padding: 32px;

  &.small-height {
    padding-bottom: 16px;
  }

  h1::after {
    content: "";
    background: var(--support-green);
    display: block;
    height: 5px;
    width: 170px;
    margin: 20px auto 10px;
  }

  h5 {
    margin: 20px 0;
  }
}

.about-us {
  padding: 32px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}

.about-us-item {
  background-color: var(--primary);
  color: var(--onPrimary);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 16px var(--outline);
  transition: 0.3s all ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  h4 {
    padding: 10px;
    width: min-content;
    white-space: nowrap;

    &::after {
      content: "";
      background: var(--support-green);
      display: block;
      height: 5px;
      margin-top: 10px;
    }
  }

  ul {
    list-style-type: none;

    li {
      padding: 12px;

      svg {
        padding-top: 5px;
        fill: var(--support-green);
      }

      span {
        margin-left: 12px;
      }
    }
  }
}

.processes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 50px;

  .processes-item {
    background-color: var(--primary);
    color: var(--onPrimary);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 16px var(--outline);
    transition: 0.3s all ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }

    h4 {
      width: min-content;
      white-space: nowrap;

      &::after {
        content: "";
        background: var(--support-green);
        display: block;
        height: 5px;
        margin-top: 10px;
      }
    }
  }
}

.colleges {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 50px;

  .card {
    border-radius: 10px;
    transition: 0.3s all ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 200px;
      object-fit: cover;
      background-color: var(--primary);
    }
  }

  .card-body {
    background-color: var(--primary);
    color: var(--onPrimary);
    border-radius: 0 0 10px 10px;
  }
}

.testimonials {
  display: flex;
  padding: 16px 32px 32px 32px;
  width: 100%;
  overflow: scroll;
  gap: 50px;

  .profile {
    box-shadow: 0px 0px 16px var(--outline);
    padding: 32px;
    min-width: 300px;
    transition: 0.3s all ease-in-out;
    border-radius: 20px;

    blockquote {
      padding-top: 24px;

      &::before {
        content: "\201C";
        font-size: 50px;
        color: var(--support-green);
        line-height: 20px;
        position: relative;
        right: 1px;
        bottom: -15px;
      }

      &::after {
        content: "\201D";
        font-size: 50px;
        color: var(--support-green);
        line-height: 20px;
        position: relative;
        left: 1px;
        bottom: -15px;
      }
    }

    img {
      object-fit: contain;
      background-color: var(--outline);
      border-radius: 50%;
      width: 110px;
      height: 110px;
      border: 10px solid var(--primary);
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
    h5 {
      color: var(--primary);
    }
    span {
      font-size: 14px;
    }
  }
}

.custom-scroller {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
  position: sticky;

  .left-shadow {
    box-shadow: inset 16px 0 12px -16px var(--outline);
  }

  .right-shadow {
    box-shadow: inset -16px 0 12px -16px var(--outline);
  }

  .left-shadow.right-shadow {
    box-shadow: inset 16px 0 12px -16px var(--outline),
      inset -16px 0 12px -16px var(--outline);
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
    transition: background-color 0.3s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.6);
  }
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--onSurface);
  color: var(--surface);
  padding: 32px;

  .location {
    width: 100%;
    height: auto;
    border: 0;
    border-radius: 20px;
  }

  .copyright {
    font-size: 12px;
    margin-top: 24px;
    text-align: center;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 12px;

    .social-icons {
      display: flex;
      gap: 24px;
      align-self: center;

      svg {
        width: 24px;
        height: 24px;

        &.bi-tiktok {
          margin-top: 4px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 24px;

    span {
      padding-left: 12px;
    }
  }
}

.contact-us {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  padding: 0 32px 32px 32px;

  .form-container {
    height: 400px;
    resize: vertical;
    overflow: auto;
    min-height: 200px;
    max-height: 90vh;
    border-radius: 8px;
    padding: 0;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
      display: block;
    }
  }
}

.section {
  scroll-margin-top: 80px;
}

@keyframes slideIn {
  from {
    right: -160px;
  }
  to {
    right: 0;
  }
}

@media only screen and (max-width: 850px) {
  .contact-us {
    grid-template-columns: repeat(1, minmax(200px, 1fr));

    .information-disclaimer {
      grid-row-end: 2;
    }
  }

  footer {
    .footer-container {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
  }

  .mobile-nav {
    width: min-content;

    .nav-item {
      white-space: nowrap;
    }
  }

  .navbar {
    .navbar-list {
      text-align: right;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      margin-top: 17px;
      height: 100vh;
      right: -160px;
      transition: right 0.3s ease-in;
      transform-origin: top;
      animation: changeBGOnScroll linear forwards;
      animation-timeline: scroll();
      animation-range: 0 30vh;
      background-color: inherit;

      &.active {
        right: 0;
      }
    }
  }

  .logo {
    width: 100px;
  }
  .toggle {
    display: block;
    width: auto;
  }
  .slides {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .slides {
    display: none;
  }
}
